@use '../utilities/colors' as *;
@use '../utilities/boxes' as *;
@use '../utilities/typography' as *;

button {
  @include baseTypography;
  background-color: $white;
  border: none;
  padding: .5em 1.5em;
  margin-top: 2.5vh;
  border-radius: $borderRadius;
}
