@use '../utilities/boxes' as *;
@use '../utilities/colors' as *;
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $boxMargin;
  padding: $boxPadding;
  padding-bottom: 1vh;
  border: $border;
  border-radius: $borderRadius;
  overflow: hidden;

  &__main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2em auto;
  }

  @media screen and (min-width: 500px) {
    width: 45%;
    max-width: 300px;
  }
  @media screen and (min-width: 1024px) {
    width: 20vw;
  }

  &__img {
    grid-area: image;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    @media screen and (min-width: 479px) {
      aspect-ratio: 3/1;
    }
    @media screen and (min-width: 769px) {
      aspect-ratio: 1/1;
    }
    @media screen and (min-width: 1024px) {
      width: 20vw;
      aspect-ratio: 2/1;
    }
  }

  &__title {
    //display: none;
    grid-area: title;
    justify-self: center;
    width: fit-content;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    align-items: start;
    margin: 1em 0;
    letter-spacing: 0.1em;
    /* background-color: tomato; */
  }

  &__prices {
    //display: none;

    grid-area: prices;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vh;
    p {
      font-weight: 400;
      color: $midLightGrey;
    }
    /* background-color: saddlebrown; */
  }

  &__dates {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 3vw;
  }

  &__info {
    //display: none;

    grid-area: link;
    /* background-color: tomato; */
    display: flex;
    justify-content: right;
    padding: 0;
    align-items: end;
    /* background-color: teal; */
    @media screen and (min-width: 1024px) {
      justify-content: start;
    }
  }
}
