@use '../utilities/utilities' as *;
@use '../utilities/colors' as *;

footer {
  @extend .test;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  position: fixed;
  inset: auto 0 0 0;

  menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer__contact {
    display: flex;
    justify-content: space-between;
    & a {
      padding: .5em;
      margin: .5em;
      color: $primaryColor;
    }
  }
}
