@use '../utilities/utilities' as *;

footer {
  @extend .test;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2vh 5vw;
  position: fixed;
  inset: auto 0 0 0;
}

.footer {
  &__by {
    & a {
      padding: 0;
    }
  }
}
