@use '../utilities/utilities' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
  background-color: $white;
  a {
    margin: 0 1vw;
    font-weight: 400;
  }
}

.header {
  &__title {
    margin: 0;
    font-family: $logoFont;
  }

  &-nav__link {
    @extend a;
  }

  &__nav {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
