@use '../utilities/colors.scss' as *;

.about {
  h2 {
    text-align: center;
    color: $grey;
  }

  p {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
  }
  li {
    margin: 1em 0;
    /* &::before {
      content: '•';
      color: $primaryColor;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    } */
  }

  &__bullet {
    color: $primaryColor;
    margin-right: 0.5em;
  }
}
