@use '../utilities/_utilities' as *;
@use '../utilities/_colors' as *;
@use '../utilities/_boxes' as *;

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: $bigBoxPadding;
  position: sticky;
  bottom: -20vh;
  border-top: 1px solid $primaryColor;
  @media screen and (min-width: 481px) {
    padding: 0 5vw;
  }

  menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: 0;
    a {
      margin: 0;
      padding: 0;
    }
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    & a {
      padding: 0;
      margin: 0;
      color: $primaryColor;
    }
  }
}
