@use '../utilities/_utilities' as *;
@use '../utilities/_colors' as *;
@use '../utilities/_boxes' as *;

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: $bigBoxPadding;
  background-color: $white;
  /*   border-top: 1px solid $primaryColor; */
  min-height: 5vh;
  @media screen and (min-width: 481px) {
    padding: 0 5vw;
    padding: $bigBoxPaddingBigScreen;
  }
}

.footer{
  &__menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    gap: 0;
    a {
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 769px) {
      flex-direction: row;
      gap: 1.5vw;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    & a {
      padding: 0;
      margin: 0;
      color: $primaryColor;
    }
    @media screen and (min-width: 769px) {
      flex-direction: row;
      gap: 1.5vw;
    }
  }
}