@use '../utilities/utilities' as *;

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'logo burger'
    'nav nav';
  padding: 2vh 5vw;
  background-color: $white;

  /* a {
    margin: 0 1vw;
    background-color: purple;
    padding: 0;
    font-weight: 400;
  } */
}

.header {
  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  &__logo {
    padding: 0;
    margin: 0;
    grid-area: logo;
    a {
      padding: 0;
    }
  }
  &__icon {
    height: 30px;
    margin: 0;
    padding: 0;
  }
  &__title {
    font-family: $logoFont;
    padding: 0;
    margin: 0 1vw;
  }

  &__subtitle {
    font-size: 1rem;
    padding: 0.5em 0;
    letter-spacing: 0.15em;
  }

  &__nav {
    &--closed {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
    &--open {
      display: flex;
      padding: 0;
      margin: 1vh 0;
      grid-area: nav;
      background-color: $primaryColor;
      a {
        color: $white;
      }
    }
  }
}
.burger-menu {
  grid-area: burger;
}
