@use '../utilities/colors.scss' as *;

.about {
  h2 {
    text-align: center;
    color: $grey;
    margin-bottom: 1.8em;
  }

  &__mission {
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-size: 2rem;
  }

  section ul {
    display: flex;
    flex-direction: column;
    gap: 3.7vh;
  }
  section li {
    @media screen and (min-width: 1025px) {
      display: flex;
    }
  }
}
