@use '../utilities/colors.scss' as *;

.about {
  h2 {
    text-align: center;
    color: $grey;
  }

  .about__mission {
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-style: italic;
    font-size: 2rem;
  }
  section li {
    margin: 1em auto;
    display: flex;
    p {
      text-align: start;
    }
    @media screen and (min-width: 1025px) {
      display: flex;
    }
    /* &::before {
      content: '•';
      color: $primaryColor;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    } */
  }

  &__bullet {
    color: $primaryColor;
    margin-right: 0.5em;
  }
}
