@use '../utilities/boxes.scss' as *;
@use '../utilities/colors.scss' as *;

$folderColor: $primaryColor;

.projects {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
  }
  &__menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      padding: 0.5em 0.75em;
      border-radius: 0;
      margin: 0;
      transition: 300ms;
      max-width: 20%;

      &:hover {
        color: $secondaryColor;
      }
      &:focus {
        color: $tertiaryColor;
      }
      &:active {
        color: $tertiaryColor;
      }
    }
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    gap: 2vh;
    img {
      aspect-ratio: 1/1;
      width : 70vw;
      border-radius: $borderRadius;
      object-fit: cover;
      margin: 0;
    }
  }
}
