$test-color: white;
$white: hsl(0, 0%, 90%);
$lightGrey: hsl(0, 0%, 95%);
$midLightGrey : hsl(0, 0%, 72%);
$grey: hsl(0, 0%, 50%);
$primaryColor: hsl(42, 100%, 46%);
$primaryColorLight: hsl(42, 100%, 75%);
$primaryColorTransparent: hsla(42, 100%, 66%, 0.5);
$secondaryColor: #ba17eb;
$secondaryColorLight: hsl(286, 84%, 75%);
$tertiaryColor: #17eb98;
/* $primaryColorLight: hsl(0, 0%, 100%); */
