$test-color: white;
$white: hsl(0, 0%, 90%);
$lightGrey: hsl(0, 0%, 95%);
$grey: hsl(0, 0%, 50%);
$primaryColor: #eba400;
$secondaryColor: #ba17eb;
$tertiaryColor: #17eb98;
$primaryColorLight: hsl(0, 0%, 100%);
